div.gpt-ad[data-google-query-id] {
    display: none;
}

.md-clear {
    margin-right: 0px !important;
}

.md-overlay.md-fixed.md-dialog-overlay {
    z-index: 103;
}

#shortcutUser {
    position: fixed;
    left: 100px;
    top: 85px;
    z-index: 101;
}

.md-dialog.md-dialog-fullscreen.md-theme-default {
    z-index: 104;
}

.md-dialog.md-theme-default {
    z-index: 104;
}