div.gpt-ad[data-google-query-id] {
    display: none;
}

.md-clear {
    margin-right: 0px !important;
}

.md-overlay.md-fixed.md-dialog-overlay {
    z-index: 103;
}

.popupPanel {
    position: fixed;
    left: 100px;
    top: 85px;
    z-index: 101;
}

.tagFilter {
    max-width:30%;
}

.popupWide{
    min-width:400px;
    min-height:400px;
}

.md-dialog.md-dialog-fullscreen.md-theme-default {
    z-index: 104;
}

.md-dialog.md-theme-default {
    z-index: 104;
}

#funcIcon{
    position:fixed;
    left:105px;
    top:70px;
    z-index:10;
}

#extensionApp{
    position: fixed;
    left:10px;
    bottom:5px;
    /* padding:10px 0px 0px 10px; */
    z-index: 10;
    color:#fff;
}

.vpBox{
    position: relative;
    border-radius: 15px;
    background-color:rgba(22, 22, 22, 0.8);
    padding:10px 0px 0px 10px;
    margin-bottom:5px;
}

.vpBox i{
    color:#fff!important;
}

.vpBox button{
    width:30px;
    height:30px;
}

.tooltipZindex{
    z-index:11;
}

.vpMark{
  position:relative;
  left:-20px;
  top:-10px;
  font-size:0.5rem;
}

.vpPercent{
  font-size:0.4rem;
  position:relative;
  left:-10px;
}

.closeLocation{
    position:relative;
    right:10px;
    top:10px;
    float:right;
}