div.gpt-ad[data-google-query-id] {
    display: none;
}

.md-clear {
    margin-right: 0px !important;
}

.md-overlay.md-fixed.md-dialog-overlay {
    z-index: 103;
}

.popupPanel {
    position: fixed;
    left: 100px;
    top: 85px;
    z-index: 101;
}

.tagFilter {
    max-width:30%;
}

.popupWide{
    min-width:400px;
    min-height:400px;
}

.md-dialog.md-dialog-fullscreen.md-theme-default {
    z-index: 104;
}

.md-dialog.md-theme-default {
    z-index: 104;
}

#vpBox{
    position: fixed;
    left:10px;
    bottom:10px;
    border-radius: 15px;
    background-color:rgba(22, 22, 22, 0.8);
    padding:10px 0px 0px 10px;;
    z-index: 10;
    color:#fff;
}

.tooltipZindex{
    z-index:11;
}

.vpMark{
  position:relative;
  left:-18px;
  top:-9px;
  font-size:0.5rem;
}

.vpPercent{
  font-size:0.4rem;
  position:relative;
  left:-10px;
}